.listItem {
  padding: 10px;
  display: flex;
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.listItem img {
  height: 160px;
}

.heroInfo {
  padding-left: 20px;
  display: flex;
  flex-flow: column wrap;
}

.heroTitle {
  margin-bottom: 10px;
  text-align: center;
}

.heroText {
  font-size: 14px;
}

.heroText span {
  font-weight: bold;
  color: rgb(25, 25, 34);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.image {
  min-width: 200px;
  width: 200px;
  object-fit: cover;
}

.myCard {
  min-width: 300px;
}

.deleteImageBtn {
  transition: 0.4s all;
  opacity: 0;
  position: absolute;
  right: 5px;
  top: 5px;
}

.image:hover .deleteImageBtn {
  opacity: 1;
}
