.header {
  border-bottom: 1px solid black;
}

p {
  margin: 5px 0px;
}

button {
  cursor: pointer;
}

button.active {
  font-weight: bold;
}

.main {
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
